# --- Diretórios e arquivos gerados por IDEs ---
# CLion
.idea/
cmake-build-debug/
*.iml

# VSCode
.vscode/

# --- Executáveis e objetos de compilação ---
*.exe
*.out
*.o
*.obj
*.a
*.so
*.dll

# --- Arquivos de build/CMake ---
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
*.cmake
Makefile
*.ninja
.ninja_deps
.ninja_log
cmake_install.cmake

# --- Módulos, pacotes e bibliotecas ---
.venv/
node_modules/

# --- Outros arquivos temporários ---
*.log
*.tmp